#seprator{
    background-image: url('https://images.pexels.com/photos/25242198/pexels-photo-25242198/free-photo-of-walgreens-pharmacy-store-under-dark-clouds.jpeg?');
     min-height: 200px;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
  }